
bin/

*.xml

gen/com/nguoisaigon/R.java

bin/resources.ap_

bin/NguoiSaiGon.apk

bin/classes/com/nguoisaigon/R$styleable.class

bin/classes/com/nguoisaigon/R$style.class

bin/classes/com/nguoisaigon/R$string.class

bin/classes/com/nguoisaigon/R$layout.class

bin/classes/com/nguoisaigon/R$id.class

bin/classes/com/nguoisaigon/R$drawable.class

bin/classes.dex

bin/AndroidManifest.xml
